<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-wtqdhputvkkvg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f24aed69-060c-4177-a8a0-df575f75018f/resourceGroups/hands-on-lab-T7YOXF8TJ9/providers/Microsoft.Web/sites/TollBoothFunctions-wtqdhputvkkvg</ResourceId>
    <UserName>$TollBoothFunctions-wtqdhputvkkvg</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctions-wtqdhputvkkvg.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>